html, body,div,span,p,main,section,article,h3{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#ubs-map{

    $color-blue: #007bff;

    main{

        height: 100vh;
        width: 100vw;

        position: relative;
        z-index: 1;

        #map {
            height: inherit;
            width: inherit;  
        }
    }

    .wrapper-info{

        padding: 2%;
        border-top: 3px solid $color-blue;
        border-bottom: 3px solid $color-blue;
        border-left: 1px solid rgba(0,0,0,.1);
        border-right: 1px solid rgba(0,0,0,.1);
        position: fixed;
        width: 16vw;
        height: 500px;
        background-color: #FFF;
        z-index: 2;
        border-radius: 2%;
        left: 2%;
        top: 10%;
        text-overflow: hidden;
        overflow: hidden;
        font-size:  .9rem;

        .info{

            margin: 6% 0;
            padding-bottom: 3%;
            border-bottom: 1px dashed #000;

            span{

                font-weight: bold;
                
            }
        }
    }

}